{% extends 'layouts/main.html' %}
{% block content %}
<div class="bg-white p-6 rounded-2xl shadow-soft dark:bg-slate-900">
          <h2 class="text-2xl font-bold text-slate-700 dark:text-slate-200">Welcome to the Dashboard</h2>
          <br>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis consequuntur, rerum, nostrum obcaecati
            repellat veniam eum est laudantium ad cumque nulla delectus. Reiciendis, eaque dolorem a, doloribus corrupti
            odio, earum explicabo praesentium doloremque minima eius placeat architecto accusantium dolor quas expedita
            quae deleniti reprehenderit? Error a voluptas repudiandae voluptate ex sequi optio aspernatur. Tempore
            provident fugiat facilis modi, quae ab culpa vel suscipit obcaecati eaque. Asperiores placeat omnis
            quibusdam recusandae autem doloremque laboriosam porro voluptatem temporibus fugiat a aspernatur aut
            dignissimos ex numquam quos nesciunt, esse possimus quae earum dolorum molestias necessitatibus nihil! Optio
            ipsam quibusdam, possimus adipisci explicabo tenetur omnis facilis in consequatur nam impedit ex
            necessitatibus doloribus amet ratione, voluptatibus harum est ipsum saepe quaerat veniam? Et voluptatem
            corporis aperiam a velit eligendi ab nihil maiores recusandae nesciunt non perspiciatis hic magnam
            voluptatum porro cum cupiditate, exercitationem corrupti error molestiae doloribus consequatur obcaecati
            natus mollitia. Tempore reiciendis ex error explicabo illo, molestiae cumque iste ea illum minima sequi
            pariatur nobis? Natus minima provident maxime assumenda, sit obcaecati pariatur alias quia inventore tenetur
            optio nesciunt, beatae, voluptas facere accusantium eligendi voluptatem nam aliquid quo? Corrupti quod
            minus, reprehenderit laborum pariatur alias harum eaque ea quibusdam exercitationem minima, voluptatem
            ducimus dolorem corporis natus est vel vitae ad? Voluptas adipisci iste praesentium fuga tenetur aperiam
            incidunt, tempore vel quasi sunt ipsam perspiciatis voluptates nihil! Sed temporibus illo hic earum eius
            accusamus aspernatur cumque delectus eveniet ullam nihil, quod expedita repudiandae? Voluptatibus hic quasi
            dolores qui ducimus ipsum commodi dolor vitae quos error sit nam eius, numquam quod illo maxime eligendi
            assumenda mollitia vero alias! Et saepe totam nihil eveniet reiciendis ea, laborum quibusdam animi adipisci
            esse, iure alias suscipit quis quisquam obcaecati ratione quas ut. Ab ad accusamus, blanditiis deleniti
            assumenda eum laborum ullam molestiae. Eum maiores aspernatur officia sit expedita illum sed obcaecati quam
            reprehenderit nobis, in quod deleniti quibusdam, porro vel id fugiat blanditiis deserunt beatae recusandae
            molestiae quos cumque vitae assumenda. Necessitatibus, vero ea iste, veniam nulla vitae magni totam, impedit
            ipsam molestias magnam dolorem! Autem nobis neque numquam? Ratione molestiae nulla aliquid, est unde eum
            dolor tenetur voluptas veritatis praesentium repellat amet sapiente nostrum rerum quam, mollitia quibusdam
            vero nemo laudantium, officia odio doloribus quis expedita? Sed voluptatum nulla quaerat minus maiores
            reiciendis vitae mollitia eligendi a qui nemo unde quisquam sint iste nobis consequuntur modi quidem
            delectus, eos doloribus voluptates dolores numquam quibusdam. A enim, voluptatibus alias magni aperiam quam
            numquam minus quas ex harum? Sint aspernatur a quos beatae similique. Itaque ea vero omnis ipsum labore
            asperiores consequatur repudiandae et, inventore suscipit reprehenderit laborum error recusandae saepe esse
            tempore obcaecati pariatur odio cum quaerat voluptatem autem nesciunt voluptatibus. Iusto sed, quia quod
            provident cumque dolor! Dolorem voluptatum harum, soluta nostrum consequatur cumque quas, voluptatem commodi
            ad delectus cum aliquam rerum. Tenetur, est similique quos commodi quae, quo modi rem explicabo, reiciendis
            vero in voluptatibus. Minima eos rerum quibusdam a. Similique eligendi, ipsam, quia reiciendis commodi ex
            est voluptatem officiis praesentium illum, deserunt doloremque repellendus obcaecati atque! Nesciunt id
            earum ipsa distinctio pariatur eum accusamus asperiores quaerat aperiam sit, officia optio? Ex quibusdam
            fuga, corporis accusantium officiis porro excepturi dolorum nemo libero provident esse eaque temporibus
            ratione repellat necessitatibus unde mollitia! Aperiam sed, totam minima aliquam ipsam ipsum. Eveniet,
            facilis? Facere maiores placeat doloremque. Temporibus, ut corporis ab ea reprehenderit dolor cumque tenetur
            possimus fugit animi perspiciatis aliquam nulla sit harum, dicta cupiditate saepe amet. Facere nesciunt
            laboriosam, rerum sapiente assumenda alias ex repudiandae temporibus saepe vero ipsum placeat quisquam
            beatae possimus exercitationem pariatur doloribus! Assumenda, quis ea harum odio aut accusantium iure
            laborum earum nemo tenetur aspernatur quas esse vitae cupiditate doloribus enim quasi voluptatum aliquam
            perspiciatis! Blanditiis impedit praesentium a quos ut atque ex assumenda, ipsum error, mollitia in odio
            nulla fugiat nam sunt numquam! Soluta excepturi autem esse aut doloremque iure nulla enim, ipsum commodi
            fugiat facere dicta repellendus. Officiis eos nisi porro eligendi maxime temporibus repellat quidem
            praesentium numquam, mollitia repudiandae ipsa aliquam totam dolore? Ipsa commodi reprehenderit earum est?
            Autem nam inventore eligendi facere reiciendis velit aspernatur ad distinctio quod obcaecati, mollitia
            cupiditate esse accusantium culpa provident, id fugiat repellat ratione vel vero iusto modi deserunt beatae.
            Nesciunt repellat, totam necessitatibus cupiditate provident quasi quas? Voluptatem fuga debitis laborum
            rerum totam, repellat delectus doloremque a illo hic suscipit officiis facilis iusto porro voluptatibus unde
            ullam, culpa necessitatibus adipisci provident. A corporis quod aut enim labore accusamus eos. Dolor nihil
            officia hic possimus nesciunt? Itaque veniam minus aspernatur molestiae saepe odit neque nam, culpa delectus
            nulla minima autem laudantium. Quidem praesentium facilis rem nobis! Inventore cum, totam laudantium nam
            libero optio blanditiis quidem, quia iure tempore amet provident vel voluptatibus possimus vitae eos.
            Tempora, dicta voluptas nesciunt porro fugiat blanditiis accusamus laboriosam placeat, autem, possimus
            cupiditate adipisci. Eum deserunt voluptas architecto veniam ab facere sequi quod sunt nostrum voluptatem
            officia distinctio voluptatum nisi itaque doloremque ut, tempora soluta odit quasi, provident veritatis
            delectus laborum. Repellendus minima natus, cum repellat porro, doloribus accusantium, sed dolor vel
            necessitatibus beatae facilis reprehenderit voluptate incidunt officiis? Quos error, rerum tenetur iste
            culpa, harum quia adipisci ratione, porro illum deleniti modi quasi animi sunt libero iusto ducimus. Iste,
            alias nobis quia corrupti aliquid enim culpa reiciendis perspiciatis id consequuntur cupiditate ab minus
            labore officiis esse ea odio iure eveniet est debitis illum fugit? Ea harum ab culpa qui voluptatem
            voluptate sit nemo animi voluptas, ad quis id veniam esse at dicta? Doloremque alias eveniet reprehenderit,
            soluta explicabo nemo, fuga dolorum consequuntur ex eaque animi, ratione dolor quos? Consequuntur velit
            ratione dicta reiciendis culpa perspiciatis nemo pariatur facilis natus? Repellat neque tempore eius porro.
            Odit eum quod quo, rerum voluptates rem beatae error? Totam veritatis numquam officia assumenda voluptate
            dolore, deleniti eaque quasi quibusdam sit sequi et repudiandae minima. Nobis accusamus doloribus quam
            incidunt quibusdam ipsum. Qui mollitia maxime perspiciatis vero similique libero sint aperiam porro
            delectus, exercitationem laboriosam blanditiis fuga ducimus laborum odit alias maiores modi, repellendus
            dignissimos rerum a numquam itaque! Dolores facere quo laudantium distinctio.
          </p>
        </div>
{% endblock %}